<%= javascript_include_tag "updateModule" %>
<%= javascript_include_tag "uiModule" %>
<%= javascript_include_tag "drawModule" %>
<%= javascript_include_tag "jscolor/jscolor" %>
<%= javascript_include_tag "base64" %>
<%= javascript_include_tag "canvas2Image" %>
<%= stylesheet_link_tag "draw" %>

<head>
    <!-- Bootstrap -->
    
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>

<center>
<div id="canvas-message" class="message">
Hi, welcome to CanvUs v.1.0.0
</div><br>

<div id="canvas-instruction-message" class="message">
Choose your weapon and draw away!
</div><br>

<div id="canvasContainer">
    <canvas id="myCanvas" width="1000" height="500">
    </canvas>
</div>

<div id="canvasControl-box">
    <form> 
        <!--
        <a href="#" class="btn" input id="pencil-button" type="submit" value="Pencil">Pencil</a>
        <a href="#" class="btn" input id="line-button" type="submit" value="Line">Line</a>
        <a href="#" class="btn" input id="rectangle-button" type="submit" value="Rectangle">Rectangle</a>
        <a href="#" class="btn" input id="circle-button" type="submit" value="Circle">Circle</a>
        <br>
        -->
        <!-- Deprecated by Color selector
            <input id="color-box" type="text" value="Color: #000000"> 
        -->
        
        
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn" input id="line-button" type="submit" value="Line"href="#"><i><img src="glyphicons_097_vector_path_line.png" class="icon-line"></i></a>
                <a class="btn" 
        <a href="#" class="btn" input id="pencil-button" type="submit" value="Pencil" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" input id="rectangle-button" type="submit" value="Rectangle" href="#"><i><img src="glyphicons_094_vector_path_square.png" class="icon-square"></i></a>
                <a class="btn" input id="circle-button" type="submit" value="Circle" href="#"><i><img src="glyphicons_095_vector_path_circle.png" class="icon-circle"></i></a>
                <a class="btn" id="buggy-line-button" type="submit" value="Buggy Line" href="#"><img src="buggy-line.png" class="icon-buggy-line"></a>
                <a class="btn" id="buggy-circle-button" type="submit" value="Buggy Circle" href="#"><img src="buggy-circle.png" class="icon-buggy-circle"></a>
                <a class="btn" id="buggy-rectangle-button" type="submit" value="Buggy Rectangle" href="#"><img src="buggy-rectangle.png" class="icon-buggy-rect"></a>

            </div>
        </div>
        <a href="#" class="btn btn-danger" input id="clear-button" type="submit" value="Clear">Clear</a>
        
        <a href="#" class="btn btn-large btn-success" id="download-png-button" type="submit" value="Download as PNG">Save Image</a>
        <div>
            <br>
            <br>
            
        </div>
        Color selector: <input id="color-selector" class="color {hash: true}" value="000000"><br>
        <div>
            
           

        </div>
        <div class="input-prepend input-append">
            <input class="span2" id="appendedPrependedDropdownButton" type="text">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Thickness
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">1pt</a></li>
                    <li><a href="#">2pt</a></li>
                    <li><a href="#">4pt</a></li>
                    <li><a href="#">8pt</a></li>
                    <li><a href="#">16pt</a></li>
                    <li><a href="#">32pt</a></li>
                    <li><a href="#">64pt</a></li>
                </ul>
            </div>
        </div><br>
        <input id="debug-button" type="submit" value="Debug Off">
    </form>
</div>

<div id="canvas-message2" class="message"></div>
</center>
<script type="text/javascript">
initialize();
//ghetto way of doing it
//updateModule.getInitImg(window.location.search.split("=")[1]);
paramCanvasID = getURLParameter("canvasId");
if (paramCanvasID != null) {
    updateModule.setCanvasID(paramCanvasID);
}
console.log(paramCanvasID);
updateModule.getInitImg(paramCanvasID);
</script>
