<%= javascript_include_tag "chatUpdateModule" %>
<%= javascript_include_tag "chatModule" %>
<%= javascript_include_tag "updateModule" %>
<%= javascript_include_tag "uiModule" %>
<%= javascript_include_tag "drawModule" %>
<%= javascript_include_tag "jscolor/jscolor" %>
<%= javascript_include_tag "base64" %>
<%= javascript_include_tag "canvas2Image" %>
<%= stylesheet_link_tag "draw" %>
<%= stylesheet_link_tag "chat" %>

<head>
    <!-- Bootstrap -->
    
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    
    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <div id="header-div" style="width: 100%; height: 50px; background: #EBA397;"> 
        <div id="back-home-div" style="width: 205px; height: 50px; background: #EBA397; cursor: pointer;">
            <font color="#EBA397">".   ."</font>      
            <img id="home-button" src="Home.png" alt="" style="position:relative;top:6px">
            <img id="back-button" src="CanvusLogo3.jpg" alt="">
        </div>
        
        <div id="room-id-div" style="position:absolute; top:25px; right:10px">
        </div>
    </div>

</head>


<center>
<!--
<div id="canvas-message" class="message">
Hi, welcome to CanvUs v.1.0.0
</div><br>
-->


<div id="canvas-instruction-message" class="message">
<br>
</div>


<div id="canvasContainer">
    <canvas id="myCanvas" width="1000" height="500">
    </canvas>
</div>

<div id="canvasControl-box">
    <form> 
        <!--
        <a href="#" class="btn" input id="pencil-button" type="submit" value="Pencil">Pencil</a>
        <a href="#" class="btn" input id="line-button" type="submit" value="Line">Line</a>
        <a href="#" class="btn" input id="rectangle-button" type="submit" value="Rectangle">Rectangle</a>
        <a href="#" class="btn" input id="circle-button" type="submit" value="Circle">Circle</a>
        <br>
        -->
        <!-- Deprecated by Color selector
            <input id="color-box" type="text" value="Color: #000000"> 
        -->
        
        
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
                <a class="btn" 
                <a href="#" class="btn" input id="pencil-button" type="submit" value="Pencil" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" input id="eraser-button" type="submit" value="Eraser" href="#"><i><img src="eraser.jpg" class="icon-eraser"></i></a>
                <a class="btn" input id="line-button" type="submit" value="Line"href="#"><i><img src="glyphicons_097_vector_path_line.png" class="icon-line"></i></a>
                <a class="btn" input id="rectangle-button" type="submit" value="Rectangle" href="#"><i><img src="glyphicons_094_vector_path_square.png" class="icon-square"></i></a>
                <a class="btn" input id="circle-button" type="submit" value="Circle" href="#"><i><img src="glyphicons_095_vector_path_circle.png" class="icon-circle"></i></a>
                <a class="btn" id="buggy-line-button" type="submit" value="Buggy Line" href="#"><img src="buggy-line.png" class="icon-buggy-line"></a>
                <a class="btn" id="buggy-circle-button" type="submit" value="Buggy Circle" href="#"><img src="buggy-circle.png" class="icon-buggy-circle"></a>
                <a class="btn" id="buggy-rectangle-button" type="submit" value="Buggy Rectangle" href="#"><img src="buggy-rectangle.png" class="icon-buggy-rect"></a>
                <a class="btn" id="color-picker-button" type="submit" value="Color Picker" href="#"><img src="Eye-Dropper-48.png" class="icon-color-picker"></a>
                <a class="btn" id="text-button" type="submit"><img src="text-tool.png" class="icon-text"></a>
            </div>
        </div>
        
        <script> $('#pencil-button').button('toggle');</script>

        <div class="btn-group">
            
            Change Color: <input id="color-selector" class="color {hash: true}" value="000000">
        </div>
        
        <div class="btn-group dropup">
            <button class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="thick-button" style="width: 140px;">Line Thickness
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="thick-1" type="submit">1px</a></li>
                    <li><a href="#" id="thick-2" type="submit">2px</a></li>
                    <li><a href="#" id="thick-4" type="submit">4px</a></li>
                    <li><a href="#" id="thick-8" type="submit">8px</a></li>
                    <li><a href="#" id="thick-16" type="submit">16px</a></li>
                    <li><a href="#" id="thick-32" type="submit">32px</a></li>
                    <li><a href="#" id="thick-64" type="submit">64px</a></li>
                </ul>
        </div>
        <input type="checkbox" id="fill-button" style="position:relative; top:-3.5px;"/> <font>  Fill</font> 

        </div>

        
         <div class="btn-group" style="position:relative; top:-7px;">
                        <a href="#" class="btn btn-success" id="download-png-button" type="submit" value="Download as PNG">Save Image</a>  
                </div> 
                <div class="btn-group" style="position:relative; top:-7px;">
                    <a href="#" class="btn btn-warning" input id="upload-button" type="submit">Upload Image</a>
                </div> 
                 <div class="btn-group" style="position:relative; top:-7px;">
                    <a href="#" class="btn btn-danger" input id="clear-button" type="submit" value="Clear">Clear</a>
                </div> 

                <div id="load-div" style="border:1px solid #000000;width:400px;">
                    <form action='#' onsubmit="return false;"style="border:10px solid #000000;">
                        <input type='file' id='file-box' />
                        <input type='button' id='done-button' value='Done' />
                    </form>
                </div>
        <!--
        <input id="debug-button" type="submit" value="Debug Off">
        -->
    </form>
</div>

<div id="chatContainer">
    <a id="chat-button" href="#" class="btn btn-info" type="submit" value="Display Chat">Chat</a>
    <br><br>
    <!--input id="chat-button" type="submit" value="Chat"-->
    <div id="chatBox">
    </div>
    <br>
    <form id="text-entry-fields" onsubmit="return false;">
        <input id="chat-box-name" type="text" name="chatBoxName" value="Name">
        <br>
        <input id="chat-box-text" type="text" name="chatBoxText" value="Message">  
        <br> 
        <input id="text-submit-button" type="submit" value="Send" onclick="printText();">
    </form>
</div>

<div id="canvas-message2" class="message"></div>
</center>
<script type="text/javascript">
initialize();
//ghetto way of doing it
//updateModule.getInitImg(window.location.search.split("=")[1]);
paramCanvasID = getURLParameter("canvasId");
console.log("canvasID is " + paramCanvasID);
if (paramCanvasID != null) {
    updateModule.setCanvasID(paramCanvasID);
}
updateModule.getInitImg(paramCanvasID);
initializeChat(paramCanvasID);
</script>
